<div class="container">
<form [formGroup] ="userForm">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" placeholder="username" formControlName="username">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" placeholder="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" class="form-control"  placeholder="nom" formControlName="nom">
      </div>
    <div class="form-group">
      <label for="prenom">prenom</label>
      <input type="text" class="form-control"  placeholder="prenom" formControlName="prenom">
    </div>
    <div class="form-group">
    <label for="profil" >profil</label>
    <select class="form-control"formControlName="profil" >
        <option valu="">selection un profil</option>
        <option *ngFor="let profil of profil" [value]="profil.id">{{profil.libelle}}</option>
        
      </select>
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-info"(click)="onCreate()">enregistrer</button>
    </div>
   
  </form>
</div>
  
